---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Get In Touch"
      description="Ready to grow your learntech company? Let's start a conversation about reaching more educational institutions."
    />
    <Form />
  </div>
</Section>
